@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Pacifico&family=Tilt+Neon&display=swap');
*{
    text-decoration: none;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url(./w1.jpg);
    height: 100vh;
    background-size: cover;
}
nav{
    background-color: white;
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    
    /* margin: auto; */
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 70px;
    padding: 5px 15px;
    color: black;
    transition: background-color 0.9s;
}
nav ul li a, nav ul a{
    padding: 5px 15px;
    color: black;
    transition: background-color 0.7s;
    border-radius: 5px;
}
nav ul a:hover, nav ul li a:hover {
    background-color: rgb(211, 168, 220);
    color: rgb(144, 63, 133);
    border-radius: 5px;
    padding: 5px 15px;
}
img{
    height: 80px;
}
.span1{
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 2px 3px rgb(113, 57, 17);
    font-size: 35px;
}
.span2{
    font-family: 'Crimson Text', serif;
    font-size: 22px;
}
div{
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: 200px 0 200px 30px;
}
div a{
    font-size: 20px;
    color: black;
    background-color: transparent;
    border: 2px solid black;
    padding: 7px 25px;
}
div a:hover{
    border: 0;
    background-color: blueviolet;
    color: white;
}
article{
    background-image: url(./w2.jpg);
    height: 70vh;
    background-size: cover;
    background-attachment: fixed;
}
footer ul li{
   list-style-type: none;
   padding: 5px;
   color: grey;
   font-family: 'Crimson Text', serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Tilt Neon', cursive;
}
footer ul li:hover{
    color: white;
}
footer{
    display: flex;
    background-color: rgb(31, 30, 30);
    height: 70vh;
    justify-content: center;
    padding: 150px;
}
footer ul .span3{
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid red;
    border-bottom-width: 2px;
    width: 40px;
}
.icons a i{
    padding: 15px 15px 15px 5px;
    width: 15px;
    text-decoration: none;
    color: grey;
}
.icons a i:hover{
    color: white;
}
